.App {
  background-color: #272D2D;
  min-height: 100vh;
}

.app-body {
  background-color: #272D2D;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;

}

.logo {
  margin-left:200px;
  width: 133px;
  height: 105px;
}

.top-nav {
  float: right;
  margin-right: 200px;
}

.top-nav .nav-link {
  color: white;
}

.top-nav .nav-link:hover {
  color: #85CB33;
}

.top-nav .contact-button {
  border: 2px solid #85CB33;
}

.top-nav .btn-secondary {
  background-color: #85CB33;
  border: #85CB33;
}

.top-nav .btn-secondary:hover {
  background-color: #272D2D;
}

.top-nav .border-primary {
  border-color: #85CB33 !important;
}

.top-nav .nav-item {
  margin-top: auto;
  margin-bottom: auto;
}

#hero-container {
  margin-top: 50px;
}

#computer-ill {
  margin-bottom: -100px;
}

#hero-text1 {
  color: white;
  text-align: center;
}

#hero-text2 {
  color: white;
  text-align: center;
  width: 700px;
  margin: auto;
  margin-top: 20px;
}

.green-container {
  background-color: #85CB33;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 100%!;
  
}

.green-text {
  color: white;
  text-align: center;
  width: 800px;
  margin: auto;
  padding-top: 125px;
  padding-bottom: 125px;
}

#projects {
  margin-left: 10%;
  margin-right: 10%;
}

#projects img {
  width: 85%;
  height: 100%;
  margin: auto;
}

#projects .project-text {
  color: white;
  width: 600px;
}

#projects .project-header {
  color: white;
}

#projects .icon-color {
  color: #85CB33;
}

#projects .project-link {
  color: #85CB33;
}

#projects .row-gap {
  margin-top: 75px;
}

#projects .project-info {
 margin-top: 25px;
}

#projects .btn-danger {
  background-color: #85CB33;
  border: none;
}

#projects .btn-danger:hover {
  background-color: #272D2D;
  border: solid 2px #85CB33;
}

#projects .btn-danger:focus {
  border: none;
}

#bio {
  margin-top: 200px;
}


#bio .profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -20%;
  height: 100%;
  width: auto;
}


#bio .image-cropper {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}

#bio .bio-text {
  color: white;
  width: 800px;
  margin: auto;
  margin-top: 50px;
}

.footer .social .icon-color {
  margin: 0 15px 0 15px;
  color: #85CB33;
}

.footer .social .icon-color:hover {
  color: white;
}



.footer .social {
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

#copyright {
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

#guy-on-desk {
  width:500px;
  float: right;
  margin-top: -365px;
  overflow: hidden;
  display: flex;
}

.carousel-item > img { 
  width: 100%;

}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black!important;
}



