.App {
  background-color: #272D2D;
  min-height: 100vh;
}

.app-body {
  background-color: #272D2D;
  min-height: 100vh;
  padding-top: 50px;

}

.logo {
  margin-left:200px;
  width: 133p;
  height: 105px;
}

.top-nav {
  float: right;
  margin-right: 200px;
}

.top-nav .nav-link {
  color: white;
}

.top-nav .nav-link:hover {
  color: #85CB33;
}

.top-nav .contact-button {
  border: 2px solid #85CB33;
}

.top-nav .btn-secondary {
  background-color: #85CB33;
  border: #85CB33;
}

.top-nav .btn-secondary:hover {
  background-color: #272D2D;
  border-color: #85CB33;
}

.top-nav .btn .nav-link:hover {
  color: #85CB33;
}